@import "nib"
vendor-prefixes = webkit o ms moz official

@font-face {
	font-family: 'Ancona-Ex-Regular';
	src: url('font/Ancona-Ex-Regular.eot');
	src: local('☺'), url('font/Ancona-Ex-Regular.woff') format('woff'), url('font/Ancona-Ex-Regular.ttf') format('truetype'), url('font/Ancona-Ex-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica-neue-lt-std';
	src: url('font/Helvetica-neue-lt-std.eot');
	src: local('☺'), url('font/Helvetica-neue-lt-std.woff') format('woff'), url('font/Helvetica-neue-lt-std.ttf') format('truetype'), url('font/Helvetica-neue-lt-std.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body
	font-family Helvetica-neue-lt-std
	font-size 16px
a
	text-decoration none !important
.contenedor {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.contenedor {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.contenedor {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.contenedor {
		width: 1170px;
	}
}
label.error
	display none !important;
.error
	background #f07575 /*#f23655*//*#FC9494*/
	color #fff
	border 2px solid #c7c7c7 !important
	animation 0.7s 1 wobble-horizontal linear
@keyframes wobble-horizontal {
	16.65% {
		transform translateX(8px)
	}
	33.3% {
		transform translateX(-6px)
	}
	49.95% {
		transform: translateX(4px)
	}
	66.6% {
		transform translateX(-2px)
	}
	83.25% {
		transform translateX(1px)
	}
	100% {
		transform translateX(0)
	}
}